/* ===== GENERAL ===== */
:root {
  scroll-behavior: smooth;

  --primary-color: #023b6d;
  --secondary-color: #106eea;
  --white-color: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/* ===== SECTIONS ===== */
section {
  padding: 25px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  padding: 8px 20px;
  background: #e7f1fd;
  color: #106eea;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 50px;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #012970;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 25px;
    line-height: 32px;
  }
}
@media (max-width: 512px) {
  .box-button button {
    font-size: 18px !important;
  }
}

/* ===== BACK TO TOP BUTTON ===== */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--secondary-color);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* ===== MAIN BUTTON ===== */
.main-btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  line-height: 1.5625rem;
  background-color: var(--primary-color);
  border: 0.1875rem solid var(--primary-color);
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 19%) !important;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.main-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}

/* Disable aos animation delay on mobile devices */
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* ===== HEADER ===== */
.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 0.3s linear;
}

.navbar-toggler i {
  color: var(--primary-color) !important;
  height: 19px;
}

.navbar-toggler:focus {
  outline: var(--primary-color) !important;
  box-shadow: 0 0 0 3px var(--secondary-color);
}

.nav-link {
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white-color);
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover,
.nav-link.active {
  color: var(--secondary-color) !important;
}

.navigation-wrap .main-btn {
  padding: 0.3125rem 1.4375rem;
  box-shadow: none;
  margin-left: 0.625rem;
}

/* Change navbar styling on scroll */
.navigation-wrap.scroll-on {
  position: fixed;
  background-color: var(--white-color);
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.09);
  transition: all 0.15s ease-in-out 0s;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation-wrap.scroll-on .nav-link {
  color: #000;
}

.navigation-wrap.scroll-on .nav-link:hover,
.navigation-wrap.scroll-on .nav-link.active {
  color: var(--secondary-color) !important;
}

@media (max-width: 991px) {
  .navigation-wrap {
    text-align: center;
    background-color: var(--white-color);
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* .navigation-wrap .navbar-brand img {
      height: 3.8125rem;
  } */

  .navigation-wrap .nav-link {
    line-height: 1.875rem;
    color: #000;
  }
}

/* ===== HERO ===== */
.hero {
  width: 100%;
  height: 100vh;
  background: url(../assets/img/main-bg.jpg) top center no-repeat;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: "";
  background: white;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  opacity: 0.3;
  position: absolute;
}

.hero h1 {
  margin: 0;
  letter-spacing: 3px;
  font-size: 70px;
  font-weight: 700;
  /* text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15); */
  text-shadow: 0.05em 0.05em 0 #fff, 0.075em 0.075em 10px rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
}

.hero #hero-subtitle {
  margin: 0;
  font-size: 50px;
  font-weight: 600;
  font-family: "PT Serif", serif;
  text-shadow: 0.05em 0.05em 0 var(--primary-color), 0.075em 0.075em 10px rgba(0, 0, 0, 0.5);
  /* font-style: italic; */
  color: var(--white-color);
}

.hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
}

.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero .btn-get-started span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-get-started:hover i {
  transform: translateX(5px);
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero #hero-subtitle {
    font-size: 33px;
  }

  .hero h2 {
    font-size: 24px;
  }
}

/* ===== ABOUT US ===== */
.about .content {
  background-color: #f6f9ff;
}

.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #444444;
  text-transform: uppercase;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: var(--primary-color);
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.about .btn-read-more span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(5px);
}

/* ===== FORM GENTA ===== */
.form-genta .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.form-genta .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}

.form-genta .box h3 {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
}

.form-genta .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.form-genta .box:hover img {
  transform: scale(1);
}

.form-genta .btn-form {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: var(--primary-color);
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.form-genta .btn-form span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.form-genta .btn-form i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.form-genta .btn-form:hover i {
  transform: translateX(5px);
}

/* ===== SOP ===== */
.sop .accordion-collapse {
  border: 0;
}

.sop .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: #444444;
  text-align: left;
}

.sop .accordion-button:focus {
  box-shadow: none;
}

.sop .accordion-button:not(.collapsed) {
  background: none;
  color: #4154f1;
  border-bottom: 0;
}

.sop .accordion-body {
  padding: 0 0 25px 0;
  border: 0;
}

/* ===== CONTACT ===== */
.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: var(--primary-color);
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/* ===== FOOTER ===== */
.footer {
  background: #f6f9ff;
  padding: 20px 0 20px 0;
  font-size: 14px;
}

.footer .copyright {
  text-align: center;
  padding-top: 10px;
  color: #012970;
}

/* // Form Publikasi */
.buttonChange:hover {
  background-color: rgb(29, 31, 84);
}
.ataskotak {
  margin: auto;
  padding: 3%;
  width: 70%;
}

/* Style untuk form */
.kotak-form {
  margin: auto;
  padding: 3%;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  width: 80%;
  border-radius: 20px;
}
#liputan {
  text-align: left;
  display: block;
}
#publikasi {
  text-align: left;
  display: none;
}
.label-pertanyaan {
  font-weight: bold;
}
#link-acara,#link {
  display:none;
}
/* Style untuk form*/

.box-button {
  display: flex;
  margin: auto;
  padding: 2%;
  width: 70%;
}
.box-button button {
  background-color: #dad9de;
  color: #3a3a3c;
  border: none;
  padding: 0.5em 2em;
  font-weight: bold;
  outline: none;
  font-size: 1.5em;
}
.box-button button:nth-child(1) {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.box-button button:nth-child(2) {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.box-button button:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.activeBox {
  background-color: #023b6d !important;
  color: #dad9de !important;
}
